/*
Created on : 25-Nov-2016, 13:20:45
Author     : Harshawn
*/

html, body {
    margin: 0;
    height: 100%;
}

body {


/*    background: linear-gradient(to bottom, #f4a1a1 50%, #e6e6e6 50%);
    !*  background-image: url('../img/background.png');
      background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #f4a1a1 50%, #e6e6e6 50%);
    background-size: cover; *!
    background-repeat: no-repeat;*/

    background: linear-gradient(to bottom, #f4a1a1 50%, #e6e6e6 50%);
     background-image: url("../img/background.png"); background-repeat:  repeat-x;
       background-image: linear-gradient(to bottom, #f4a1a1 50%, #e6e6e6 50%);
      background-size: cover;
    background-repeat: no-repeat;

  /*  background: linear-gradient(to bottom, #f4a1a1 50%, #e6e6e6 50%);
    background-image: url("../img/background.png");
    background-repeat: repeat-x;
    background-image: url("../img/background.png"), linear-gradient(to bottom, #f4a1a1 50%, #e6e6e6 50%);*/
}

.container {
    background-color: rgba(255,255,255,0.85);
    border-radius: 1em;
    padding: 2em;
    width: 30em;
    text-align: center;
}

#home_header {
    text-align: center;
}

div.container form.btn-default {
    margin-top: 20px;
}

#date_time {
    text-align: center;

}

#home_go {
    padding: 2em;
    text-align: center;
    font-weight: bold;
}