/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Nov-2016, 16:49:46
    Author     : Harshawn
*/

body{
    background-color: #e6e6e6;
}

.container{
    background-color: white;
    border-radius: 1em;
    display: table;
}



.col-lg-3{
    background-color: pink;
    margin-right: 0.5em;
    
}

.col-lg-9{
    background-color: lightgray;
    margin-right: -0.5em;
}

.btn-stretch {
    //color: transparent;
    width: 250px;
}


